/* * {
  background-color: aqua;
} */

body {
  background-color: #f1faee;
}

button {
  font-size: 30px;
  background-color: #a8dadc;
}

h1,
h2 {
  color: #1d3557;
}

#singup {
  color: #f1faee;
  background-color: #1d3557;
}

span {
  color: #457b9d;
}

.tag {
  background-color: #e63946;
  color: #f1faee;
  font-size: 16px;
}
.post a {
  color: #457b9d;
  text-decoration: none;
  font-weight: 700px;
}

footer a {
  color: #e63946;
}

h2 + button {
  font-size: 20px;
}

footer > a {
  color: #457b9d;
}

input[type='password'] {
  color: greenyellow;
}

a[href*='google'] {
  background-color: mediumseagreen;
}

.post button:hover {
  background-color: #e63946;
  color: #f1faee;
}

.post:hover {
  text-decoration: underline;
}

.post button:active {
  background-color: magenta
  color: #1d3557;
}
