h1 {
  text-align: center;
  font-weight: 400;
  text-decoration: blueviolet underline wavy;
  letter-spacing: 15px;
  font-size: 77px;
  font-family: fantasy, Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

p {
  line-height: 2;
}
